<input
  ng-model="test"
  type="text"name="myModel"
  id="">
<p>{{test}}</p>
<ul>
  <li ng-repeat="character in characters">
    {{character}}
  </li>
</ul>



<input ng-model="movieFilter" type="text" name="year">
<ul>
  <li ng-repeat="movie in movies | beforeYearFilter:movieFilter">
    {{movie.title}}
  </li>
</ul>

<!-- <input ng-model="newCharacter" type="text" placeholder="Character" >
<button ng-click="addCharacter(newCharacter)">
  Add new character!
</button> -->
<input ng-model="newBookTitle" type="text" placeholder="Title">
<input ng-model="newBookAuthor" type="text" placeholder="Author">
<button ng-click="addBook(newBookTitle, newBookAuthor)">
  Add new book!
</button>
